.classpath
.project
.settings
target
bin
src/main/resources/images/Thumbs.db
src/main/resources/images/alphabet/Thumbs.db
src/main/resources/images/alphabet/scrabble/Thumbs.db
src/main/resources/images/256x256/Thumbs.db
src/main/resources/images/256x256/new/Thumbs.db
.gradle
